<h1>Editing Book</h1>
<%= notice %>
<% if @book.errors.any? %>
<%= @book.errors.count %>件のエラーがあります。
<ul>
<% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
</ul>
<% end %>

<%= form_with model:@book, local: true do |f| %>

<%= f.label :title %><br>
<%= f.text_field :title %><br>

<%= f.label :body %><br>
<%= f.text_area :body %><br>

<%= f.submit 'Update Book' %>

<% end %>

<%= link_to 'Show', book_path(@book) %> | <%= link_to 'Back', books_path %>